[build-system]
requires = ["uv_build>=0.8.19,<0.9.0"]
build-backend = "uv_build"

[project]
name = "{{ project_slug }}"
version = "0.1.0"
description = "{{ description }}"
readme = "README.md"
requires-python = ">= {{ python_version }}"
license = { file = "LICENSE" }
authors = [
  { name = "{{ maintainer_name }}"{% if maintainer_email %}, email = "{{ maintainer_email }}"{% endif %} },
]
dependencies = []

{%- if repository %}
[project.urls]
Homepage = "{{ repository }}"
Repository = "{{ repository }}"
Issues = "{{ repository }}/issues"
Documentation = "{{ repository }}#readme"
{%- endif %}

[dependency-groups]
local = ["prek"]
lint = ["ruff"]
types = ["mypy"]
tests = ["pytest"]

[tool.ruff]
target-version = "py{{ python_version|replace('.', '') }}"
src = ["src"]

[tool.ruff.lint]
select = ["ALL"]
ignore = ["D", "TD002", "TD003", "EXE", "ERA", "FIX", "INP001", "UP037"]
fixable = ["ALL"]
unfixable = []

[tool.ruff.lint.extend-per-file-ignores]
"tests/**/*.py" = ["S101", "S106", "S105", "S311", "PLR2004", "FBT001"]

[tool.mypy]
python_version = "{{ python_version }}"
strict = true
mypy_path = ["src"]

[tool.pyright]
typeCheckingMode = "standard"
